/* 
    Created on : Jan 4, 2016, 10:59:48 PM
    Author     : Olzhas Kurenov
*/

/*Slider 2*/

.slider-js-box {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 280px;
  border: #DDD solid 1px;
}
.slider-js-header{
  width: 100%;
}

.slider-js-header img {
  position: static;
  width: 225px;
  margin-left: 30px;
}

.slider-js-button {
  z-index: 10;
  width: 20px;
  height: 26px;
  position: absolute;
  top: 40%;
  padding-top: 5px;
  background-color: #999;
  opacity: 0.3;
  cursor: pointer;
}

.slider-js-left {
  padding-left: 5px;
  left: 0;
}

.slider-js-right {
  right: 0;
  padding-right: 5px;
}

.slider-js-body{
  width: 100%;
  height: 330px;
  position: relative;
  overflow: hidden;
}
.slider-js-images {
  width: 1120px;
  height: 280px;
  position: absolute;
  left: 0;
  transition: left 0.3s ease 0s;
}

.slider-js-image {
  position: static;
  width: 280px;
  float: left;
}

.slider-js-image > img {
  width: 280px;
  float: none;
}


.lim-slider-caption {
  text-align: center;
  font-size: 14px;
  color: #000;
}

.lim-slider-price {
  text-align: center;
  color: darkred;
  font-size: 16px;
  font-weight: bold;
}

.slider-js-footer{
  height: 100%;
  text-align: center;
}



